<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBznytQwk9d1-oCZqcUixUgw8ECuZEqWuM</string>
	<key>GCM_SENDER_ID</key>
	<string>506101025430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.136d7e96022370ba.AdventureThirst</string>
	<key>PROJECT_ID</key>
	<string>adventurethirst-f397e</string>
	<key>STORAGE_BUCKET</key>
	<string>adventurethirst-f397e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506101025430:ios:e639c30ddfc9660e7090b7</string>
</dict>
</plist>